torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
torchmetrics==1.3.2
numpy==1.26.4
tqdm
matplotlib
pandas
wandb
hydra-core
datasets
huggingface_hub

black
isort
pre-commit

# lensless
git+https://github.com/LCAV/LenslessPiCam.git@fe150ed274667b13c7817effc6aad478861ebc91
git+https://github.com/pvigier/perlin-numpy.git@5e26837db14042e51166eb6cad4c0df2c1907016
waveprop
git+https://github.com/ebezzam/slm-controller.git@7fa4ffac3bdb9fae316f66f4ac9517806ae010ef
